@import 'tailwindcss';

:root {
    --brand-purple-bright: #BF208F;
    --brand-purple: #6F064F;
    --brand-black: #2C1C24;
    --brand-pastel-purple: #E3D2E6;
    --brand-orange: #F6AB7A;
    --brand-orange-pastel: #DECDAD;
    --off-white: #FBF9FA;
    --white: #FFFFFF;
    --main-color: #F1E6CF;
    --main-orange: #CB621E;
    --footer-color: #F6EEF3;

    --header-height: 5rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 1rem;
}

.card {
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
    gap: 1rem;
    background-color: var(--white);
    overflow: scroll;
}

.display-1 {
    font-size: 64px;
    line-height: 105%;
}

.display-2 {
    font-size: 56px;
    line-height: 105%;
}

.display-3 {
    font-size: 48px;
    line-height: 105%;
}

.h1 {
    font-size: 40px;
    line-height: 110%;
}

.h2 {
    font-size: 32px;
    line-height: 115%;
}

.h3 {
    font-size: 28px;
    line-height: 120%;
}

.h4 {
    font-size: 24px;
    line-height: 125%;
}

.h5 {
    font-size: 20px;
    line-height: 130%;
}

.h6 {
    font-size: 16px;
    line-height: 135%;
}

.h7 {
    font-size: 14px;
    line-height: 140%;
}

.text-lead {
    font-size: 20px;
    line-height: 150%;
}

.base-text {
    font-size: 16px;
    line-height: 150%;
}

.small-text {
    font-size: 14px;
    line-height: 150%;
}

.smallest-text {
    font-size: 12px;
    line-height: 150%;
}

